[Desktop Entry]
Type=Application
Version=$VERSION
Name=Leges Motus
GenericName=Leges Motus
Comment=A 2D Networked Shooter
Icon=$SHAREDIR/icons/hicolor/256x256/legesmotus.png
Exec=$BINDIR/legesmotus
Categories=Game;StrategyGame;ActionGame
